
body {
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    z-index: 1;
    background-color: lightsteelblue;
    padding: 10px;
}

.navbar__list {
    display: flex;
    list-style-type: none
}

.navbar__list__item {
    margin: 0 75px 0 0;
}

.navbar__link {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 16pt;
}

.navbar__link:hover {
    color: white;
}

#todos_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.todo {
    border: 1px solid black;
    flex-basis: 20%;
    padding: 10px;
    margin: 1em 0;
    background-color: white;
    border-radius: 10px;
}

.todo:hover {
    background-color: skyblue;
}

.main__title {
    display: flex;
    justify-content: center;
}

